extends layout

block content
  h1= title
  p Welcome to #{title}

  div
    p
    strong Node.js+Express課題（トップページ）

    br
    a(href="//google.com/", target="_blank") Google.com（テスト）

  br
  div
    p ログイン画面
    button
      a(href="/login") ログイン（login.jade）

  br
  div
    p 新規登録画面
    button
      a(href="/register") 新規登録（register.jade）
